discord.py
python-dotenv
requests
readchar
urllib3
configparser
concurrent-log-handler
pysocks
colorama
concurrent-log-handler
configparser
discord.py
pysocks
python-dotenv
readchar
requests
urllib3